@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: 'Fira Code';
}
body{
  background-color: #F1EFEC;
  overflow-x: hidden;
}

/* HEADER */
header{
    background-color: #D3C8BC;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
header .name-header a{
    text-decoration: none;
    color: #1F3555;
}
header .name-header a.code-simb{
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;
}
header .name-header{
    display: flex;
    justify-content: center;
    width: 20%;
    color: #1F3555;
    font-size: 23px;
}

header .name-header .code-simb{
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
}
header .nav-bar{
    width: 60%;
    display: flex;
    justify-content: center;
}
header .nav-bar a{
    position: relative;
    text-decoration: none;
    color: #1F3555;
    margin: 20px;
}
header .name-header .simbolo{
  margin-left: 10%;
  display: flex;
  align-items: center;
}
header .nav-bar a:hover, header .nav-bar span:hover{
    text-align: center;
}
header .nav-bar a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #1F3555;
    transition: width 0.5s ease-in-out;
}
header .nav-bar a:hover::after, header .nav-bar span:hover::after{
    width: 100%;
}
header .curriculoDonwload{
    display: flex;
    justify-content: center;
    width: 20%;
}
header .curriculoDonwload img{
    width: 30px;
}
header .curriculoDonwload a{
    display: flex;
    color: #1F3555;
    text-decoration: none;
    position: relative;
}
header .curriculoDonwload a p{
    font-size: 17px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    display: flex;
}
header .curriculoDonwload a p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 40;
    height: 2px;
    width: 0;
    background-color: #1F3555;
    transition: width 0.5s ease-in-out;
}
header .curriculoDonwload a p:hover::after{
    width: 70%;
}


/* HOME */
#container-home{
    background: #F1EFEC;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 100vh;
    z-index: -1;
}
#container-home .text-intro{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}
#container-home .text-intro p span.verde{
    font-size: 40px;
    width: fit-content;
    color: #1F3555;
    position: relative;
    z-index: 1;

}
#container-home .text-intro p span.verde::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 6px;
    background-color: #D3C8BC;
    width: 100%;
    height: 7px;
    z-index: -1;
}
#container-home .text-intro p span.branco{
    color: #1F3555;
    text-align: center;
}
#container-home .text-intro p.jr{
    color: #1F3555;
    text-align: end;
}
#container-home .scroll-down {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #1F3555;
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 1000;
}
#container-home .scroll-down img{
    width: 35px;
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}

/* EXPERTISE */
#container-expertise{
    background: #F1EFEC;
    min-height: 100vh;
    margin-top: 50px;
    scroll-margin-top: 10vh;
}
#container-expertise>div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    color: #1F3555;
}
#container-expertise .title-expertise{
    font-weight: 500;
    font-size: 50px;
    color: #1F3555;
    text-align: center;
}
#container-expertise .web-des{
    width: 20%;
    min-height: 380px;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    border-right: 0px;
    padding: 10px;
}
#container-expertise .web-des div{
    display: flex;
    padding: 10px;
    justify-content: center;
}
#container-expertise .web-des div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .soft-des{
    width: 20%;
    min-height: 380px;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    padding: 10px;
}
#container-expertise .soft-des div{
    display: flex;
    padding: 10px;
    justify-content: center;
}
#container-expertise .soft-des div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .tecnico-ti{
    width: 20%;
    min-height: 380px;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    border-left: 0px;
    padding: 10px;
}
#container-expertise .tecnico-ti div{
    display: flex;
    padding: 10px;
    justify-content: center;
}

#container-expertise .tecnico-ti div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .soft-des div p, #container-expertise .soft-des p, #container-expertise .web-des div p, #container-expertise .web-des p, #container-expertise .tecnico-ti p,
#container-expertise .tecnico-ti div p{
    color: #1F3555;
    font-weight: 700;
}
#container-expertise .soft-des div p, #container-expertise .web-des div p, #container-expertise .tecnico-ti div p{
    font-size: 20px;
    position: relative;
    align-content: center;
    z-index: 2;
}
#container-expertise .soft-des div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #D3C8BC;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .web-des div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #D3C8BC;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .tecnico-ti div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #D3C8BC;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .soft-des p, #container-expertise .web-des p, #container-expertise .tecnico-ti p{
    font-size: 14px;
    text-align: start;
    padding: 14px;
}
/* EXPERIENCIA */
#experiencia{
    margin-top: 50px;
    color: #1F3555;
    background-color: #F1EFEC;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#experiencia .title-experiencia{
  justify-content: center;
  display: flex;
  align-items: center;
}
#experiencia .title-experiencia h3{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}
#experiencia .toggle-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 28px;
}
#experiencia .toggle{
    width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  background-color: #D3C8BC;
  margin: 5px auto;
  color: #1F3555;
}
#experiencia .toggle.ativo{
    margin-bottom: 0px;
    border-radius: 5px;
}
#experiencia .toggle:hover{
    cursor: pointer;
}
#experiencia .toggle div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#experiencia .toggle .toggle-img {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    display: inline-block;
}
#experiencia .toggle .toggle-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 1s ease; /* transição na opacidade */
    opacity: 1; /* visível por padrão */
    position: relative;
    z-index: 2; /* fica acima */
}

/* Ícone no ::before */
#experiencia .toggle .toggle-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/menos.svg');
    opacity: 0; /* invisível por padrão */
    transition: opacity 0.5s ease; /* transição suave */
    z-index: 1; /* fica atrás da imagem */
}
#experiencia .toggle-container .toggleconteudo {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    background-color: #F1EFEC;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    flex-direction: column;
    max-height: 0;
}

#experiencia .toggle-container .toggleconteudo.ativo {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    margin-top: 5px;
    margin-bottom: 5px;
}
#experiencia .toggle-container .toggleconteudo.ativo p, #experiencia .toggle-container .toggleconteudo.ativo a{
    color: #1F3555;
    font-weight: 500;
}
#experiencia .toggle-container .toggleconteudo.ativo ul{
    list-style: none;
    padding: 10px 24px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}
#experiencia .toggle-container .toggleconteudo.ativo ul li>span{
    background-color: #1F3555;
    padding: 2px 9px;
    border-radius: 10px;
    margin: 3px;
    color: #F1EFEC;
}
#experiencia .toggle-container .toggleconteudo>div{
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
}
#experiencia .toggle-container .toggleconteudo .localizacaoExp, #experiencia .toggle-container .toggleconteudo .linkExp{
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#experiencia .toggle-container .toggleconteudo .linkExp a{
    text-decoration: none;
}
#experiencia .toggle-container .toggleconteudo .linkExp a:hover{
    color: #000000;
}
#experiencia .toggle-container .toggleconteudo .localizacaoExp img, #experiencia .toggle-container .toggleconteudo .linkExp img{
    width: 20px;
    margin-right: 6px;
}

/* Quando estiver ativo: */
#experiencia .toggle.ativo .toggle-img img {
    opacity: 0; /* some a imagem original */
}

#experiencia .toggle.ativo .toggle-img::before {
    opacity: 1; /* aparece o ::before */
}
#experiencia .toggle p{
    font-size: 13px;
    padding: 20px
}
/* CONTATO */
#contato{
    background-color: #F1EFEC;
    min-height: 30vh;
    margin-top: 100px;
}
#contato .redes-sociais{
    display: flex;
    justify-content: center;
}
#contato .redes-sociais img{
    width: 50px;
    margin: 20px;
}
#contato .redes-sociais img:hover{
    width: 55px;
    margin: 20px;
    transition:0.3s ease-in-out;
}
#contato .title-contato{
    display: flex;
    justify-content: center;
    min-height: 10vh;
}
#contato .title-contato p{
    font-size:50px;
    font-weight: 500;
    color: #1F3555;
}
/* footer */
footer{
    background-color: #F1EFEC;
}
footer .direitos{
    width: fit-content;
    margin: auto;
}
footer .direitos a.name-foot{
    transition: color 0.5s ease, text-decoration-color 0.5s ease;
    position: relative;
    z-index: 1;
}
footer .direitos a.name-foot::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 1px;
    width: 0;
    background-color: #ECECEC;
    transition:0.5s ease-in-out;
    z-index: -1;
}
footer .direitos a.name-foot:hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 1px;
    width: 100%;
    background-color: #ECECEC;
    transition:0.5s ease-in-out;
    z-index: -1;
}
footer .direitos a, footer .direitos p{
    text-decoration: none;
    color: #1F3555;
    font-size: 15px;
}
footer .direitos a.name-foot:hover{
    color: #1F3555;
}
.btndivisubida.mostrar {
    opacity: 1;
}
.btndivisubida{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}
.btndivisubida .btnSubida img{
    width: 50px;
    height: 50px;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 499px){
#experiencia .toggle p{
    font-size: 10px;
    padding: 20px;
}
#experiencia .toggle h3{
    font-size: 13px;
}
#experiencia .toggle-container .toggleconteudo.ativo p, #experiencia .toggle-container .toggleconteudo.ativo a{
    font-size: 10px;
}
#experiencia .toggle-container .toggleconteudo.ativo ul li > span{
    background-color: #1F3555;
    padding: 2px 9px;
    border-radius: 10px;
    margin:0;
    color: #F1EFEC;
    font-size: 10px;
}
#experiencia .toggle{
    height: 40px;
}
header .name-header{
display: flex;
justify-content: start;
width: 50%;
color: #1F3555;
font-size: 23px;
}
header .nav-bar, header .curriculoDonwload{
    display: none;
}
header .hamburguer{
    width: 50%;
    font-size: 18px;
    justify-content: end;
    display: flex;
    color: #1F3555;
    margin-right:5%;
}
header .hamburguer p{
    padding-right: 10px;
}
header .hamburguer img{
    width: 20px;
}
header .hamburguer .menuhamburguer{
    display: none;
}
header{
    font-size: 15px;
}
#container-home{
    min-height: 75vh;
}
#container-home .text-intro, #container-home .text-intro p span.verde{
    font-size: 20px;
}
#container-expertise .title-expertise, #experiencia .title-experiencia h3, #contato .title-contato p{
    font-size: 30px;
    padding: 50px;
}
#container-expertise > div{
    display: block;
}
#container-expertise .web-des, #container-expertise .soft-des, #container-expertise .tecnico-ti{
    text-align: center;
    min-height: auto;
    padding: 10px;
    width: 80%;
    border: 3px solid;
    margin: auto;
}
#container-expertise .soft-des{
    border-top: 0;
    border-bottom: 0;
}
#experiencia .toggle{
    width: 80%;
}
#experiencia .toggle-container .toggleconteudo{
    width: 80%;
}
header .name-header .simbolo{
    font-size: 18px;
}
#container-home .scroll-down img{
    width: 23px;
}
#container-expertise .soft-des p, #container-expertise .web-des p, #container-expertise .tecnico-ti p{
    font-size: 10px;
    text-align: justify;
    padding: 0px;
}
#contato .redes-sociais img{
    width: 40px;
}
.btndivisubida .btnSubida img{
    width: 25px;
    height: 25px;
}
.btndivisubida{
    right: 10px;
    bottom: 10px;
}
}
/* Celulares médios e grandes */
@media (min-width: 500px) and (max-width: 768px) {
#experiencia .toggle p{
    font-size: 14px;
    padding: 20px;
}
#experiencia .toggle h3{
    font-size: 14px;
}
#experiencia .toggle-container .toggleconteudo.ativo p, #experiencia .toggle-container .toggleconteudo.ativo a{
    font-size: 14px;
}
#experiencia .toggle-container .toggleconteudo.ativo ul li > span{
    background-color: #1F3555;
    padding: 2px 9px;
    border-radius: 10px;
    margin:0;
    color: #F1EFEC;
    font-size: 14px;
}
#experiencia .toggle{
    height: 40px;
}
header .name-header{
    display: flex;
    justify-content: start;
    width: 50%;
    color: #1F3555;
    font-size: 23px;
}
header .nav-bar, header .curriculoDonwload{
    display: none;
}
header .hamburguer{
    width: 50%;
    font-size: 23px;
    justify-content: end;
    display: flex;
    color: #1F3555;
    margin-right:5%;
}
header .hamburguer p{
    padding-right: 10px;
}
header .hamburguer img{
    width: 20px;
}
header .hamburguer .menuhamburguer{
    display: none;
}
header{
    font-size: 15px;
}
#container-home{
    min-height: 75vh;
}
#container-home .text-intro, #container-home .text-intro p span.verde{
    font-size: 20px;
}
#container-expertise .title-expertise, #experiencia .title-experiencia h3, #contato .title-contato p{
    font-size: 30px;
    padding-bottom: 50px;
}
#container-expertise > div{
    display: block;
}
#container-expertise .web-des, #container-expertise .soft-des, #container-expertise .tecnico-ti{
    text-align: center;
    min-height: auto;
    padding: 10px;
    width: 80%;
    border: 3px solid;
    margin: auto;
}
#container-expertise .soft-des{
    border-top: 0;
    border-bottom: 0;
}
#experiencia .toggle{
    width: 80%;
}
#experiencia .toggle-container .toggleconteudo{
    width: 80%;
}
#container-expertise .soft-des p, #container-expertise .web-des p, #container-expertise .tecnico-ti p{
    font-size: 12px;
    text-align: start;
    padding: 5px;
}
.btndivisubida{
    right: 20px;
    bottom: 20px;
}
.btndivisubida .btnSubida img{
    width: 40px;
    height: 40px;
}
}

/* Tablets (paisagem ou retrato) */
@media (min-width: 769px) and (max-width: 1024px) {
header .name-header{
    display: flex;
    justify-content: start;
    width: 50%;
    color: #1F3555;
    font-size: 30px;
}
header .nav-bar, header .curriculoDonwload{
    display: none;
}
header .hamburguer{
    width: 50%;
    font-size: 30px;
    justify-content: end;
    display: flex;
    color: #1F3555;
    margin-right:5%;
}
header .hamburguer p{
    padding-right: 10px;
}
header .hamburguer img{
    width: 30px;
}
header .hamburguer .menuhamburguer{
    display: none;
}
header{
    font-size: 15px;
}
#container-home{
    min-height: 75vh;
}
#container-home .text-intro, #container-home .text-intro p span.verde{
    font-size: 30px;
}
#container-expertise .title-expertise, #experiencia .title-experiencia h3, #contato .title-contato p{
    font-size: 40px;
    padding-bottom: 50px;
}
#container-expertise > div{
    display: block;
}
#container-expertise .web-des, #container-expertise .soft-des, #container-expertise .tecnico-ti{
    text-align: center;
    min-height: auto;
    padding: 10px;
    width: 80%;
    border: 3px solid;
    margin: auto;
}
#container-expertise .soft-des{
    border-top: 0;
    border-bottom: 0;
}
#experiencia .toggle{
    width: 80%;
}
#experiencia .toggle-container .toggleconteudo{
    width: 80%;
}
}

/* Laptops pequenos e desktops padrão */
@media (min-width: 1025px) and (max-width: 1441px) {
header .hamburguer{
    display: none;
}
header{
    font-size: 15px;
}
#container-home{
    min-height: 75vh;
}
#container-home .text-intro, #container-home .text-intro p span.verde{
    font-size: 30px;
}
#container-expertise .title-expertise, #experiencia .title-experiencia h3, #contato .title-contato p{
    font-size: 40px;
    padding-bottom: 50px;
}
#container-expertise > div{
    display: block;
}
#container-expertise .web-des, #container-expertise .soft-des, #container-expertise .tecnico-ti{
    text-align: center;
    min-height: auto;
    padding: 10px;
    width: 80%;
    border: 3px solid;
    margin: auto;
}
#container-expertise .soft-des{
    border-top: 0;
    border-bottom: 0;
}
#experiencia .toggle{
    width: 50%;
}
#experiencia .toggle-container .toggleconteudo{
    width: 50%;
}
}
@media (min-width: 1442px) {
header .hamburguer{
    display: none;
}
}