@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/woff/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: 'Fira Code';
}
body{
  color: #ECECEC; /* se o fundo for escuro */
  margin: 0;
  padding: 0;
    min-height: 100vh;
  background: #070705;
  background-attachment: fixed; /* fixa o gradiente */

}

/* HEADER */
header{
    background-color: #515151;
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10vh;
}
header .name-header a{
    text-decoration: none;
    color: #ECECEC;
}
header .name-header a.code-simb{
    font-size: 30px;
    font-weight: 700;
}
header .name-header{
    display: flex;
    width: 30%;
    color: #ECECEC;
    font-size: 30px;s
}

header .name-header .code-simb{
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
}
header .nav-bar{
    width: 70%;
}
header .nav-bar a{
    position: relative;
    text-decoration: none;
    color: #ECECEC;
    margin: 20px;
}
header .name-header .simbolo{
  margin-left: 10%;
}
header .nav-bar a:hover, header .nav-bar span:hover{
    color: #42e123;
    text-align: center;
}
header .nav-bar a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.5s ease-in-out;
}
header .nav-bar a:hover::after, header .nav-bar span:hover::after{
    width: 100%;
}

/* HOME */
#container-home{
    background: linear-gradient(to bottom, #515151, #070705);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 90vh;
    z-index: -1;
}
#container-home .text-intro{
    font-weight: 700;
    font-size: 30px;
    text-align: justify;
}
#container-home .text-intro p span.verde{
    font-size: 40px;
    width: fit-content;
    color: #ECECEC;
    position: relative;
    z-index: 1;

}
#container-home .text-intro p span.verde::after{
    content: "";
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #42e123;
    width: 100%;
    height: 10px;
    z-index: -1;
}
#container-home .text-intro p span.branco{
    color: #ECECEC;
    text-align: center;
}
#container-home .text-intro p.jr{
    color: #ECECEC;
    text-align: end;
}
#container-home .perfil{
    justify-content: center;
    display: flex;
    margin: 30px;
}
#container-home .perfil img{
    width: 200px;
    border-radius: 50%;
    border: 1px solid #ECECEC;
    height: 200px;
    object-fit: cover;
}

/* EXPERTISE */
#container-expertise{
    background: #070705;
    height: 100vh;
}
#container-expertise>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #ECECEC;
}
#container-expertise .title-expertise{
    font-weight: 700;
    font-size: 40px;
    height: 30vh;
    color: #ECECEC;
    align-items: end;
    justify-content: flex-start;
    display: flex;
    width: auto;
    width: fit-content;
     margin-left: 10%;
}
#container-expertise .web-des{
    width: 20%;
    height: auto;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    border-right: 0px;
    padding: 10px;
}
#container-expertise .web-des div{
    display: flex;
    padding: 10px;
    justify-content: center;
}
#container-expertise .web-des div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .soft-des{
    width: 20%;
    height: auto;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    padding: 10px;
}
#container-expertise .soft-des div{
    display: flex;
    padding: 10px;
    justify-content: center;
}
#container-expertise .soft-des div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .tecnico-ti{
    width: 20%;
    height: auto;
    margin: auto 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid #515151;
    border-left: 0px;
    padding: 10px;
}
#container-expertise .tecnico-ti div{
    display: flex;
    padding: 10px;
    justify-content: center;
}

#container-expertise .tecnico-ti div img{
    width: 45px;
    margin-right: 10px;
}
#container-expertise .soft-des div p, #container-expertise .soft-des p, #container-expertise .web-des div p, #container-expertise .web-des p, #container-expertise .tecnico-ti p,
#container-expertise .tecnico-ti div p{
    color: #ECECEC;
    font-weight: 700;
}
#container-expertise .soft-des div p, #container-expertise .web-des div p, #container-expertise .tecnico-ti div p{
    font-size: 20px;
    position: relative;
    align-content: center;
    z-index: 2;
}
#container-expertise .soft-des div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #42e123;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .web-des div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #fa2e59;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .tecnico-ti div p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    background-color: #1e72f3;
    opacity: 0.8;
    height: 7px;
    z-index: -1;
}
#container-expertise .soft-des p, #container-expertise .web-des p, #container-expertise .tecnico-ti p{
    font-size: 14px;
}
/* EXPERIENCIA */
#experiencia{
    height: 100vh;
    color: #ECECEC;
    background-color: #070705;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#experiencia .title-experiencia{
    height: 30vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
#experiencia .title-experiencia h3{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
#experiencia .toggle-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#experiencia .toggle{
    width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  background-color: #404040;
  margin: 5px auto;
  color: color: #070705;;
}
#experiencia .toggle.ativo{
    margin-bottom: 0px;
    border-radius: 5px;
}
#experiencia .toggle:hover{
    background-color: #42e123;
    cursor: pointer;
}
#experiencia .toggle div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#experiencia .toggle .toggle-img {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    display: inline-block;
}
#experiencia .toggle .toggle-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s ease; /* transição na opacidade */
    opacity: 1; /* visível por padrão */
    position: relative;
    z-index: 2; /* fica acima */
}

/* Ícone no ::before */
#experiencia .toggle .toggle-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/mais.svg');
    opacity: 0; /* invisível por padrão */
    transition: opacity 0.3s ease; /* transição suave */
    z-index: 1; /* fica atrás da imagem */
}
#experiencia .toggle-container .toggleconteudo {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #404040;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    flex-direction: column;
    max-height: 0;
}

#experiencia .toggle-container .toggleconteudo.ativo {
    max-height: 500px; /* ou ajuste conforme o conteúdo */
    opacity: 1;
    transform: translateY(0);
}
#experiencia .toggle-container .toggleconteudo>div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#experiencia .toggle-container .toggleconteudo .localizacaoExp, #experiencia .toggle-container .toggleconteudo .linkExp{
    display: flex;
    color: #ECECEC;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#experiencia .toggle-container .toggleconteudo .linkExp a{
    text-decoration: none;
    color: #ECECEC;
}
#experiencia .toggle-container .toggleconteudo .localizacaoExp img, #experiencia .toggle-container .toggleconteudo .linkExp img{
    width: 20px;
    margin-right: 6px;
}

/* Quando estiver ativo: */
#experiencia .toggle.ativo .toggle-img img {
    opacity: 0; /* some a imagem original */
}

#experiencia .toggle.ativo .toggle-img::before {
    opacity: 1; /* aparece o ::before */
}
#experiencia .toggle p{
    font-size: 13px;
    padding: 20px
}
/* CONTATO */
#contato{
    background-color: #070705;
    height: 30vh;
}
#contato .redes-sociais{
    display: flex;
    justify-content: center;
}
#contato .redes-sociais img{
    width: 50px;
    width: 50px;
    margin: 20px;
}
#contato .redes-sociais img:hover{
    width: 50px;
    margin: 20px;
}
#contato .title-contato{
    display: flex;
    justify-content: center;
    height: 10vh;
}
#contato .title-contato p{
    font-size:40px;
    font-weight: 700;
    color: #ECECEC;
}
/* footer */
footer{
    background-color: #070705;
}
footer .direitos{
    width: fit-content;
    margin: auto;
}
footer .direitos a.name-foot{
    transition: color 0.5s ease, text-decoration-color 0.5s ease;
    position: relative;
    z-index: 1;
}
footer .direitos a.name-foot::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 1px;
    width: 0;
    background-color: #ECECEC;
    transition:0.5s ease-in-out;
    z-index: -1;
}
footer .direitos a.name-foot:hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 1px;
    width: 100%;
    background-color: #ECECEC;
    transition:0.5s ease-in-out;
    z-index: -1;
}
footer .direitos a, footer .direitos p{
    text-decoration: none;
    color: #ECECEC;
    font-size: 15px;
}
footer .direitos a.name-foot:hover{
    color: #42e123;
}

.reveal {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}